{% extends 'main.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title text-center">History</h4>
                </div>
                <div class="card-body">
                    <table class="table table-striped table-bordered">
                        <thead class="thead-dark">
                            <th>#</th>
                            <th>Expression</th>
                            <th>Result</th>
                        </thead>
                        <tbody>
                            {% for data in calculations %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ data.expression }}</td>
                                    <td>{{ data.result }}</td>
                                </tr>
                            {% empty %}
                                <tr><td class="text-center" colspan="3">No history to show. click <a href="{% url 'calculator' %}">here</a> to calculate expression</td></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}