{% extends 'main.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-8">
            <div class="card card-body">
                <h4 class="text-primary">Welcome {{ request.user.first_name }}.</h4>
                <hr>
                <p>use <strong class="text-primary">calculator</strong>, <strong class="text-primary">history</strong> or <strong class="text-primary">profile</strong> to see features</p>
            </div>
        </div>
    </div>
{% endblock content %}